{% extends "usermanagement/description/base2.html" %}

{% block content %}

<h6 style="text-align: center;">About Fultang Polyclinic</h6> <br> <br>
<div>Polyclinic fultang is a hospital management application, providing care and monitoring of patients from arrival to discharge, this via the platform. We first register the patient at the reception level, then follow the chain of follow-up according to his problem or his situation. Polyclinic Fultang has several departments namely the dental service, the ophthalmological service, the general medicine, the laboratory, as well as a pharmacy.</div>


{% endblock %}