{% extends "usermanagement/description/base2.html" %}


{% block content %}

<h6 style="text-align: center;">Fultang Polyclinic General Medicine Service</h6> <br> <br>


{% comment %} {% lorem 5 %} {% endcomment %}
General medicine, or family medicine, is a medical specialty1 taking charge of the sustainable follow-up, well-being and primary general health care of a community, without being limited to groups of diseases relating to an organ, d of a particular age or sex. The general practitioner, also called general practitioner or family doctor, is therefore often consulted to diagnose the symptoms before treating the disease or referring the patient to another medical specialist.
In most cases, a person's treating doctor is a general practitioner. An example of an exception would be a young person who has a pediatrician (medical specialist) as their attending physician. General practitioners, however, also have all the necessary skills to treat them effectively.


{% endblock content %}