{% extends "usermanagement/description/base2.html" %}


{% block content %}

<h6 style="text-align: center;">Fultang Polyclinic Laboratory Service</h6> <br> <br>


{% comment %} {% lorem 5 %} {% endcomment %}
LABORATORY is a place equipped for experimental study in a science or for testing and analysis; broadly : a place providing opportunity for. It includes the state of the patient (fasting or not), the sampling phase, that of the labeling of the samples taken, the recording of the analysis requests, the centrifugation, the aliquoting of the samples and their possible pre-treatment: filtration, cell lysis.

{% endblock content %}