{% extends "usermanagement/description/base2.html" %}


{% block content %}

<h6 class="custom-text" style="text-align: center; margin-top: 30vh;">Fultang Polyclinic Ophtalmological Service</h6> <br> <br>
<div  style="margin-left:20vw;" class="custom-text">
    The Comprehensive Ophthalmology service offers primary eye care including medical and surgical management for all types of conditions of the eye and surrounding structures - both routine and urgent. Our general evaluations screen and treat a wide range of ophthalmic conditions. Routine annual eye and vision exams, prescriptions for eyeglasses, and referrals for contact lens fittings are also offered. Patients who may require subspecialty ophthalmologic care are often referred after evaluation.
    All of the comprehensive ophthalmologists at Weill Cornell are Board Certified ophthalmic physicians who have been trained at some of the finest institutions in the country. The ophthalmologists at Weill Cornell use the latest state-of-the-art technology. Comprehensive diagnostic services provided include evaluation of visual acuity, refraction, slit lamp evaluation, ophthalmoscopy, tonometry, pachymetry, gonioscopy, fundus photography, and visual field testing.
    Our comprehensive specialists are actively involved in advancing the field ophthalmology. 

{% comment %} {% lorem 5 %} {% endcomment %}


{% endblock content %}