{% extends "usermanagement/description/base2.html" %}


{% block content %}

<h6 style="text-align: center;">Fultang Polyclinic Pharmacy</h6> <br> <br>


{% comment %} {% lorem 5 %} {% endcomment %}

Pharmacists are healthcare professionals who specialize in the right way to use, store, preserve, and provide medicine. They can guide you on how to use medications, and let you know about any potential adverse effects of what you take. They fill prescriptions issued by doctors and other healthcare professionals.
Pharmacists also contribute to research and testing of new drugs. They work in pharmacies, medical clinics, hospitals, universities, and government institutions.
What Does a Pharmacist Do?
People have been using plants and other natural substances as medicine for thousands of years. However, the practice of professional pharmacy became its own separate professional field in the mid-nineteenth century.
Pharmacists distribute prescription drugs to individuals. They also provide advice to patients and other health professionals on how to use or take medication, the correct dose of a drug, and potential side effects. Plus, they can make sure that a drug won’t interact badly with other medications you take or health conditions you have.
They can also provide information about general health topics like diet and exercise, as well as advice on products like home healthcare supplies and medical equipment.
Compounding (the mixing of ingredients to form medications) is a very small part of a modern pharmacists’ practice. Nowadays, pharmaceutical companies produce medicines and provide them to pharmacies, where pharmacists measure the right dosage amounts for patients.

{% endblock content %}