{% extends "usermanagement/description/base2.html" %}


{% block content %}

<h6 class="custom-text" style="text-align: center; margin-top: 30vh;">Fultang Polyclinic Pharmacy</h6> <br> <br>


{% comment %} {% lorem 5 %} {% endcomment %}
<div style="margin-left:20vw;" class="custom-text">
    Pharmacists are healthcare professionals who specialize in the right way to use, store, preserve, and provide medicine. They can guide you on how to use medications, and let you know about any potential adverse effects of what you take. They fill prescriptions issued by doctors and other healthcare professionals.
    Pharmacists also contribute to research and testing of new drugs. They work in pharmacies, medical clinics, hospitals, universities, and government institutions.
    What Does a Pharmacist Do?
</div>


{% endblock content %}