{% extends "usermanagement/description/base2.html" %}


{% block content %}

<h6 class="custom-text" style="text-align: center; margin-top: 30vh;">Fultang Polyclinic Reception</h6> <br> <br>

<div  style="margin-left:20vw;" class="custom-text">
    Reception at the hospital is the first link in the relational chain of the
    Care course. It allows the interaction between the caregiver and the user. Its objective is
    to establish a relationship of mutual trust, security and support. Done well, it leads to
    adherence and allows continuity of care.
    This first moment of the meeting is decisive, it represents a guarantor
    essential for the smooth running of the follow-up to the care of the user.
    The stakes and the benefits of a good reception encourage us to give it the necessary attention.
    to be of good quality. The objective of this study is to describe and analyze the reception
    users at the HSR in order to identify all the factors influencing its quality,
    which are related to the welcoming staff and the staff-user relationship at the
    time of reception, with a view to proposing ways to improve reception at the hospital
</div>




{% endblock content %}