{% load static %}

<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title> Home </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'usermanagement/plugins/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
    <link rel="stylesheet" href="{% static 'usermanagement/plugins/morrisjs/morris.css' %}" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'usermanagement/css/main.css' %}" />
    {% block style %}{% endblock %}

    <script language="javascript">
        function imprimer_bloc(divName) {
            var printContents = document.getElementById(divName).innerHTML;    
            var originalContents = document.body.innerHTML;      
            document.body.innerHTML = printContents;     
            window.print();     
            document.body.innerHTML = originalContents;                
        }
    </script>

</head>

<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-cyan">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <nav class="navbar clearHeader">
        <div class="col-12">
            <div class="navbar-header"> <a href="javascript:void(0);" class="bars"></a> <a class="navbar-brand"
                    href="index-2.html">Polyclinic Fultang</a> </div>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="admin-image"> <img src="{% static 'usermanagement/images/random-avatar7.jpg' %}" alt="">
                </div>
                <div class="admin-action-info"> <span>Welcome</span>
                    <h3>{{ user.username }}</h3>
                    <ul>
                        <li>
                            <a href="{% url 'account_logout' %}" title="sign out">
                                <span style="color:white;"> Signout </span>
                                <i class="zmdi zmdi-sign-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <!-- <li class="active open"><a href="{% url 'usermanagement:cashierviewpl' %}"><i class="zmdi zmdi-home"></i><span>View Bill list</span></a></li> -->
                    <li class="active open"><a href="{% url 'usermanagement:viewconsultationlist' %}"><i class="zmdi zmdi-home"></i><span>View ConsultationList</span></a></li>
                    <li class="active open"><a href="{% url 'usermanagement:cashierviewexam' %}"><i class="zmdi zmdi-home"></i><span>View ExamsList</span></a></li>
                    <li class="active open"><a href="{% url 'usermanagement:cashierhistory' %}"><i class="zmdi zmdi-home"></i><span>Consultation History</span></a></li>
                    <li class="active open"><a href="{% url 'usermanagement:examshistory' %}"><i class="zmdi zmdi-home"></i><span>Exams History</span></a></li>


                </ul>
            </div>
            <!-- #Menu -->
        </aside>
    </section>
    <section class="content home">
        <div class="container-fluid">
            {% if messages %}
                <div>
                    <ul>
                    {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <small class="text-muted">Welcome to Polyclinic Fultang</small> <br>
            <span style="text-decoration: solid;">Cashier page</span>  
            
            {% block content %}
            {% endblock %}
            
        </div>
    </section> 




    <div class="color-bg-custom"></div>
    <!-- Jquery Core Js -->
    <script src="{% static 'usermanagement/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->
    <script src="{% static 'usermanagement/bundles/vendorscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js -->

    <script src="{% static 'usermanagement/bundles/chartscripts.bundle.js' %}"></script> <!-- Chart Plugins Js -->
    <script src="{% static 'usermanagement/bundles/sparklinescripts.bundle.js' %}"></script> <!-- Chart Plugins Js -->

    <script src="{% static 'usermanagement/bundles/mainscripts.bundle.js' %}"></script><!-- Custom Js -->
    <script src="{% static 'usermanagement/js/pages/index.js' %}"></script>
    <script src="{% static 'usermanagement/js/pages/charts/sparkline.min.js' %}"></script>
</body>

<!-- Mirrored from thememakker.com/templates/swift/hospital/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Nov 2021 08:11:50 GMT -->

</html>