{% extends 'usermanagement/dentist/basedentist.html' %}

{% load static %}
{% block content %}

<div style="margin: auto; width: fit-content;">
    <form method="POST" class="post-form">
        <!--{% csrf_token %}: tag de securite(protection contre les attaques intercept),c'est pour securise notre formulaire django -->
        {% csrf_token %}
        <div>Name</div>
        <div>
            <select name="idPatient" required="" id="id_idPatient">
                <option value="" selected="">---------</option>
                {% for p in patientList %}
                <option value="{{p.id}}">{{p}}</option>
                {% endfor %}
              
            </select>
        </div>
        <div>{{ form.MedicineName.name }}</div>
        <div>{{ form.MedicineName }}</div>
        <div>{{ form.MedicineCost.name }}</div>
        <div>{{ form.MedicineCost }}</div>

        <script>
            document.getElementById("id_MedicineCost").readOnly = true;
            
            document.getElementById("id_MedicineName").addEventListener("change",function(){
                if("Efferalgan"===document.getElementById("id_MedicineName").value){
                    document.getElementById("id_MedicineCost").value = 1250;
                }else if("Doliprane"===document.getElementById("id_MedicineName").value){
                    document.getElementById("id_MedicineCost").value = 2000;
                }else if("Paracetamol"===document.getElementById("id_MedicineName").value){
                    document.getElementById("id_MedicineCost").value = 200;
                }else if("Zentel"===document.getElementById("id_MedicineName").value){
                    document.getElementById("id_MedicineCost").value = 500;
                }else if("Flagentyl"===document.getElementById("id_MedicineName").value){
                    document.getElementById("id_MedicineCost").value = 4500;
                }else if("Antadys"===document.getElementById("id_MedicineName").value){
                    document.getElementById("id_MedicineCost").value = 2000;
                }else{
                    document.getElementById("id_MedicineCost").value = 2500
                }
            })
        </script>
        
        <input type="submit" class="save btn" value="Save">
    </form>
</div>

{% endblock %}