{% extends 'usermanagement/pharmacist/basePharmacist.html' %}

{% load static %}
{% block content %}

    <div style= "padding: 2%; margin-top: 5vh;">

        <div style="display: flex;">
            <div>
                <h6>Patient_Name</h6>
            </div>
            <div>
                <h6 style="margin-left: 227%;">Patient_Medicines</h6>
            </div>
        </div>
        {% for p in listePatient %}
        <hr>
        <div style="display: flex;">
            <div style="display: flex; width: 10%;">
               {{p}}
            </div>
            <div style="display: flex; flex-direction: column; margin-left: 25%;">
                {% for m in medicaments %}
                    {% if m.idPatient == p %}
                    <li> {{m.MedicineName}} </li>
                    <input type="checkbox" style="background-color: black;" class="form-check-input" id="exampleCheck1">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <input style="height: 3vh; margin-left: 80%;" type="submit" value="Valid">
        {% endfor %}
        <hr>
    </div>
{% endblock %}