{% extends 'usermanagement/doctor/baseDoctor.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'usermanagement/css/doctorviewpl.css' %}">
{% endblock style %}
{% block content %}
<div>
    {% comment %} 1)FirstName, 2)LastName, 3)Condition
    {% endcomment %}
    <span style="text-decoration: solid;">Patient List...</span>  

    <style>
        .m{
            width: 6vw;
            height: 5vh;
            border-radius: 30%;
            transition: ease 0.25s;
            border-color: rgb(156, 155, 155);
        }
        .m:hover{
            width: 6vw;
            height: 5vh;
            border-radius: 30%;
            background-color: rgb(64, 234, 64);
        }
        .n{
            border-radius: 30%;
            width: 9vw;
            transition: ease 0.25s;
            border-color: rgb(154, 130, 130);
        }
        .n:hover{
            border-radius: 30%;
            width: 10vw;
            transition: ease 0.25s;
            border-color: rgb(154, 130, 130);
            background-color: rgb(64, 251, 64);
        }
    </style>
    <hr>

    <hr>
    {% csrf_token %}
    <form style="text-align: center;" action="{% url 'usermanagement:doctorviewpl' %}" method="POST">
        {% csrf_token %}
        <label for="">Name</label>
        <input name='name' type="text" value="{{selectName}}">
        <button>🔍</button>
        <br>
        <hr>
    </form>

    <div style="display: flex;">
        <div style="width: 15%; font-weight: 900;">Patient ID</div>
        <div style="display: flex; width: 85%">
            <div style="width: 20%; font-weight: 900;">Date</div>
            <div style="width: 20%; font-weight: 900;" >Time</div>
            <div style="width: 20%; font-weight: 900;">Service</div>
            <div style="width:20%; font-weight: 900;">Condition</div>
            <div style="width:20%; font-weight: 900;">Action</div>
        </div >
               
    </div> <hr>

    <div class='Grand'>
        {% for id,nom,prenom,cni in patientList %}
        <div class="patient"  style='display:flex'>
        <div style='width: 15%; color: dodgerblue;'><a href="{% url 'usermanagement:patientActions' id %}"><div>{{nom}}&nbsp;{{prenom}}<br>CNI:{{cni}}</div></a>
</div>
            <div style=" width: 85%; display:flex">
            {% for p in patients %}
                {% if p.FirstName == nom and p.LastName == prenom and p.CNI_number == cni %}
                
                        <div style="width: 20%;">{{p.Date}}</div>
                        <div style="width: 20%;">{{p.Time}}</div>
                        <div style="width: 20%;">{{p.Service}}</div>
                        {% if p.condition == "Critical" %}
                            <div style="background-color:rgb(186, 42, 42) ; width:20%">{{p.condition}}</div>
                        {% else %}
                            <div style="width:20% ;">{{p.condition}}</div>
                        {% endif %}   
                        <div style="width: 20%;">
                            <form action="{% url 'usermanagement:sendToSpecialistValidation' p.id %}">
                                {% csrf_token %}
                                <input class = "n" type="submit" value="SendToSpecialist">
                            </form>
                        </div>                 
                {% endif %}
            {% endfor %} </div>
             </div>
        <hr>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if patients.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ patients.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
        </span>

        {% if patients.has_next %}
            <a href="?page={{ patients.next_page_number }}&&name={{selectName}}">next</a>
            <a href="?page={{ patients.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}

