{% extends 'usermanagement/doctor/baseDoctor.html' %}

{% load static %}
{% block content %}
<br> 
    <span style="text-decoration: solid;">Exam List...</span>  
    <div style= "padding: 2%; margin-top: 5vh;">

        <div style="display: flex;">
            <div style="width: 25%;">
                <h6>Patient_Name</h6>
            </div>
            <div style="width: 25%;">
                <h6>Patient_Exams</h6>
            </div>
            <div style="width: 25%;">
                <h6>Date</h6>
            </div>
            <div style="width: 25%;">
                <h6>Time</h6>
            </div>
        </div>
        {% for p in listePatient %}
        <form method="post" action="{% url 'usermanagement:factureexamen' p.id %}">
            {% csrf_token %}
            <hr>
            <div style="display: flex;">
                <div style="display: flex; width: 25%;">
                   {{p}}
                </div>
                <div style="display: flex; flex-direction: column; width: 75%;">
                    {% for m in examens %}
                        {% if m.idPatient == p %}
                            {% if m.status != 'valid' %}
                            <div style="display: flex; flex-direction:row;">
                                <div style="width: 33%;">
                                    <li> {{m.ExamDescription}} </li> 
                                </div>
                                <div style="width: 33%;">
                                    {{m.Date}}
                                </div>
                                <div style="width: 33%;">
                                    {{m.Time}}
                                </div>
                            </div>
                               
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </form>
        {% endfor %}
        <hr>
    </div>
{% endblock %}