{% extends 'usermanagement/doctor/baseDoctor.html' %}

{% load static %}
{% block content %}
<h5>New Consutaltion...</h5>
<div>
                <style>
                    input{
                        border: none;
                        border-bottom: solid 1px rgb(100, 90, 90);
                        width: 30vw;
                        background-color: transparent;
                        transition: ease 0.15s;
                    }
                    input:focus{
                        border: none;
                        border-bottom: solid 2px rgb(14, 208, 170);
                        width: 30vw;
                        background-color: transparent;
                    }
                </style>
    <form method="POST" class="post-form">
        <!--{% csrf_token %}: tag de securite(protection contre les attaques intercept),c'est pour securise notre formulaire django -->
        {% csrf_token %}
        <div style="display:flex; width: 100%; margin-top: 5vh;">
            <div style="width: 50%;">
                <div>
                    <select style="width: 30vw; height:4vh;" name="idPatient" required="" id="id_idPatient">
                        <option value="" selected="">---------</option>
                        {% for p in patientList %}
                        <option value="{{p.id}}">{{p}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
                <div style="margin-bottom:2vh;">Name</div>
                <div style="border: none;"><input type="text" name="consultation_reason" maxlength="100" id="id_consultation_reason"></div>
                <div style="margin-bottom:2vh;">consultation_reason</div>
                <div><input type="text" name="allergy" maxlength="100"  id="id_allergy"></div>
                <div style="margin-bottom:2vh;">allergy</div>
                <div><input type="text" name="previous_history" maxlength="200" id="id_previous_history"></div>
                <div style="margin-bottom:2vh;">previous_history</div>
                <div><input type="number" name="weight" step="any" id="id_weight"></div>
                <div style="margin-bottom:2vh;">weight</div>
                <div><input type="number" name="temperature" step="any" id="id_temperature"></div>
                <div style="margin-bottom:2vh;">temperature</div>
                <div style="margin-top: 4vh;">
                    <input type="submit" class="save btn" value="Save">
                </div>   
            </div>
            <div style="width: 50%;">
                <div>Consultation_Notes</div>
                <div><textarea style="width: 50%; width: 40vw; height: 50vh;" name="Consultation_Notes" cols="40" rows="10" maxlength="100000" id="id_Consultation_Notes"></textarea></div>
            </div>
        </div>

    </form>
</div>
{% endblock %}