{% extends 'usermanagement/doctor/baseDoctor.html' %}

{% load static %}
{% block content %}
<h5>New Consutaltion...</h5>
<div style="margin: auto; width: fit-content;">
    <form method="POST" class="post-form">
        <!--{% csrf_token %}: tag de securite(protection contre les attaques intercept),c'est pour securise notre formulaire django -->
        {% csrf_token %}
        <div>{{form.consultationCost.name}}</div>
        <div>{{form.consultationCost}}</div>
        <div>{{form.idPatient.name}}</div>
        <div>{{form.idPatient}}</div>
        <div>{{form.consultation_reason.name}}</div>
        <div>{{form.consultation_reason}}</div>
        <div>{{form.allergy.name}}</div>
        <div>{{form.allergy}}</div>
        <div>{{form.previous_history.name}}</div>
        <div>{{form.previous_history}}</div>
        <div>{{form.weight.name}}</div>
        <div>{{form.weight}}</div>
        <div>{{form.height.name}}</div>
        <div>{{form.height}}</div>
        <div>{{form.temperature.name}}</div>
        <div>{{form.temperature}}</div>
        <div>{{form.arterialpressure.name}}</div>
        <div>{{form.arterialpressure}}</div>
        <div>{{form.skin_appearence.name}}</div>
        <div>{{form.skin_appearence}}</div>
        
       
        <input type="submit" class="save btn" value="Save">
    </form>
</div>
{% endblock %}