{% extends "usermanagement/labTechnician/baseLabTech.html" %}

{% block content %}
<br>
<div style="text-align:center ;font-style: italic; font-size: x-large;word-spacing: 5px;" >
    Patient :     
    <span>{{nom.FirstName}}</span>
        <span>{{name.LastName}}</span>
</div>
<hr>
<div style="text-align: center; word-spacing: 4px;"><h6> <span style="text-decoration: underline;">Exam Result:</span> {{ExamName}}</h6></div> 
<div style="display: flex; flex-direction:column">
    <form action="{% url 'usermanagement:saveExamResult' validExam.id %}" method = 'POST'>
     {% csrf_token %}
        <div style="display: flex; flex-direction:column">
            <div> 
                <textarea style="width:70vw; border-left:18px" name="examResult" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <input type="submit" value="Save">            
                </div>
        </div>
    </form>
</div>
{% endblock %}