{% extends 'usermanagement/receptionist/receptionist.html' %}

{% block style %} <link rel="stylesheet" href=""/> {%endblock %} 

{% block content %}

<h5>Adding a patient...</h5>

<!-- <div style="margin: auto; width: fit-content;">
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div >{{ form.FirstName.name }}</div>        
        <div>{{ form.FirstName }}</div>
        <div>{{ form.LastName.name }}</div>
        <div>{{ form.LastName }}</div>
        <div>{{ form.sexe.name }}</div>
        <div>{{ form.sexe }}</div>
        <div>{{ form.BirthDate.name }}</div>
        <div>{{ form.BirthDate }}</div>
        <div>{{ form.Address.name }}</div>
        <div>{{ form.Address }}</div>
        <div>{{ form.CNI_number.name }}</div>
        <div>{{ form.CNI_number }}</div>
        <div>{{ form.Phone_number.name }}</div>
        <div>{{ form.Phone_number }}</div>
        <div>{{ form.Email_address.name }}</div>
        <div> {{ form.Email_address }}</div>
        <div>{{ form.condition.name }}</div>
        <div>{{ form.condition }}</div>
        <div>{{ form.Service.name }}</div>
        <div>{{ form.Service }}</div>
        <div>{{ form.ConsultationCost.name }}</div>
        <div>{{ form.ConsultationCost }}</div>
        <script>
            document.getElementById("id_ConsultationCost").readOnly = true;
            
            document.getElementById("id_Service").addEventListener("change",function(){
                if("Generalist"===document.getElementById("id_Service").value){
                    document.getElementById("id_ConsultationCost").value = 2000;
                }else if("Specialist"===document.getElementById("id_Service").value){
                    document.getElementById("id_ConsultationCost").value = 5000;
                }else{
                    document.getElementById("id_ConsultationCost").value = 10000
                }
            })
        </script>
        <input type="submit" class="save btn" value="Save">
    </form>
</div> -->
<div style="margin-left: 5vw; width: 100%">
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div style="display: flex; width: 100%;">
            <div style="width: 33%; display: flex; flex-direction: column;">
                <style>
                    input[type=text]{
                        background-color: transparent;
                        border: none;
                        border-bottom: solid 1px rgb(45, 134, 161);
                        transition: all 1s ease;
                    }
                    input:focus{
                        border-bottom: solid 1px rgb(29, 4, 84);
                    }
                </style>
                <div>FirstName</div>        
                <div><input type="text" name="FirstName" maxlength="50" style="margin-bottom: 5vh;" required="" id="id_FirstName"></div>
                <div>LastName</div>
                <div><input type="text" name="LastName" maxlength="50" style="margin-bottom: 5vh;" id="id_LastName"></div>
                <div>gender</div>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexe" id="flexRadioDefault1" value="Male">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="sexe" id="flexRadioDefault2" value="Female" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Female
                        </label>
                        
3
4
5
6
7
8
9
10
11
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script>
$(function(){
   $('.datepicker').datepicker({
      format: 'mm-dd-yyyy'
    });
});
</script>
<div class="col-md-6">
	<input type="text" class="form-control datepicker" placeholder="Select Date"/>
</div>
                        <!-- <input type="radio" name="sexe" id="id_sexe" value="Male">
                        <label for="male">Male</label>
                        <input type="radio" name="sexe" id="id_sexe" value="Female">
                        <label for="male">Female</label> -->
                      </div>
                      
                    <!-- <select style="width: 11.68vw; height: 4.5vh; margin-bottom: 5vh;" name="sexe" id="id_sexe">
                    <option value="Male" selected="">Male</option>
                    <option value="Female">Female</option></select> -->
                </div>
                <div>BirthDate</div>
                <div><input type="date" name="BirthDate" id="id_BirthDate" max="{{current_date}}" style="width: 11.68vw; height: 4.5vh; margin-bottom: 5vh;"></div>
            </div>
            <div style="width: 33%;">
                <div>Address</div>
                <div><input type="text" name="Address" maxlength="25"  style="margin-bottom: 5vh;"  id="id_Address"></div>
                <div>CNI_number</div>
                <div><input type="text" name="CNI_number" maxlength="20" style="margin-bottom: 5vh;"  id="id_CNI_number"></div>
                <div>Phone_number</div>
                <div><input type="text" name="Phone_number" maxlength="100"  style="margin-bottom: 5vh;" id="id_Phone_number"></div>
                <div>Email_address</div>
                <div> <input type="text" name="Email_address" maxlength="25"  style="margin-bottom: 5vh;"  id="id_Email_address"></div>
            </div>
            <div style="width: 33%;">
                <div>condition</div>
                <div>
                    <select name="condition" id="id_condition"  style="width: 11.68vw; height: 4.5vh; margin-bottom: 5vh;">
                        <option value="NoCritical" selected="">NoCritical</option>
                        <option value="Critical">Critical</option>
    
                    </select>
                </div>
                <div>Service</div>
                <div>
                    <select name="Service"  id="id_Service"  style="width: 11.68vw; height: 4.5vh; margin-bottom: 5vh;">
                        <option value="" selected="">---------</option>
                        <option value="Generalist">Generalist</option>
                        <option value="Specialist">Specialist</option>
                    </select>
                </div>
                <div>ConsultationCost</div>
                <div><input type="text" name="ConsultationCost" maxlength="23" style="margin-bottom: 5vh;" id="id_ConsultationCost" readonly=""></div>
                
                <div><input type="submit" class="save btn" value="Save"></div>
            </div>
            
        </div>       
        <script>
            document.getElementById("id_ConsultationCost").readOnly = true;
            
            document.getElementById("id_Service").addEventListener("change",function(){
                if("Generalist"===document.getElementById("id_Service").value){
                    document.getElementById("id_ConsultationCost").value = 2000;
                }else if("Specialist"===document.getElementById("id_Service").value){
                    document.getElementById("id_ConsultationCost").value = 5000;
                }else{
                    document.getElementById("id_ConsultationCost").value = 0
                }
            })
        </script>
    </form>
</div>

{% endblock %}


