{% load static %}

{% block contentTitle %}
    Add Patients
{% endblock contentTitle %}
{% block style %} <link rel="stylesheet" href="{% static 'usermanagement/css/addPatient.css' %}"/> {%endblock %} 

{% block content %}
<div style="margin: auto; width: fit-content;">
    <form method="POST" class="post-form">
        <!--{% csrf_token %}: tag de securite(protection contre les attaques intercept),c'est pour securise notre formulaire django -->
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="save btn" value="Save">
    </form>
</div>
{% endblock content %}
